.header-wrapper {
  position: relative;
  height: 12px;
  /* background-color: aquamarine; */
}

.nav {
  margin-right: 30px;
  margin-left: 30px;
}

.nav-item {
  font-family: "Montserrat";
  font-weight: 600;
  position: relative;
  line-height: 65px;
  margin: 0 20px;
  font-size: 17px;
  color: #333;
  float: right;
  text-decoration: none;
  cursor: pointer;
}

.nav-item.login {
  color: rgba(250, 184, 3);
}

.nav-item.logo {
  float: left;
  font-weight: 800;
  font-size: 24px;
  color: rgba(250, 184, 3);
}
